@model SportBlogPost.ViewModels.PostsAndCategories


        <div class="row">
            <div class="col-md-3">

                <form asp-controller="Home" asp-action="Search" method="post">

                    <br />

                    <input type="text" asp-for="Post.Subject" />

                    <br />
                    <input type="radio" asp-for="Category.CategoryID" value="0" />No Category
                    <br />

                    @foreach (var item in Model.CategoriesList)
                    {
                        <input type="radio" asp-for="Category.CategoryID" value="@item.Value" />@item.Text


                        <br />
                    }
                    <input type="submit" value="Search">

                </form>

            </div>
            <div class="col-md-9" id="postarea">

                <br />
                @foreach (var item in Model.Posts)
                {

            <div class="col-md-10" id="postarea">

                <b> Subject:</b> <a asp-controller="Home" asp-action="PostDetails" asp-route-id="@item.PostID"> @item.Subject</a>,
                <b> Date:</b> @item.PostDate, <b>Category:</b> @item.Category.CategoryName
                <br />
                @item.Body

            </div>

                }
            </div>

        </div>


